@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AroundTown2.Models.Route

<h2>Add a new Route</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.RouteName)
    @Html.EditorFor(model => model.RouteName)
    <input type="submit" value="Create" />
}
@Html.ActionLink("Back to List", "Index")